<h2>
  <%= link_to "Go to all users", "/users", class: "button" %>
</h2>
<section class="user-profile">
<div class="d-flex row justify-content-center mt-5">
  <div class= "card text-dark bg-light  p-0 m-1" style="max-width: 7rem" >
      <div class=" border-end pr-2">
        <img class='profimg' alt="placeholder" src='https://t4.ftcdn.net/jpg/02/15/84/43/360_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg'>
      </div>
  </div>

  <div class="card text-dark bg-light m-1 d-flex flex-row col-md-8 justify-content-between">
    <div class="  d-flex align-items-center">
      <h2 class="card-title    text-primary"> All post written by <%= @user.name %></h2> 
    </div>

    <div class = " d-flex align-items-end justify-content-end" >
      <p class="text-right">Number of posts: 
        <%= @user.posts_counter ?  @user.posts_counter : 0  %>
      </p>
   
    </div>  


  </div>

  <% @user.posts.each do |post| %>
      <div class = "  card col-md-9 m-1  p-3 d-flex" >
      <% if post.comments_counter %>
        <a href="/users/<%= @user.id %>/posts/<%= post.id %>"><p class="m-0"><h5> Post# <%=  post.id %> </h5></a>
      <% else %>  
        <h5> Post# <%=  post.id %> </h5>
      <% end%>  
        <p><%= post.title %></p>
        <p><%= post.text %></p>
        <div class = " col-md-11   d-flex align-items-end justify-content-end" >
      <p class="text-right"> Likes: <%= post.likes_counter ? post.likes_counter : 0  %>&nbsp</p>
      <p class="text-right"> &nbsp Comments: <%= post.comments_counter ? post.comments_counter : 0 %></p>
        </div>  

        <%= link_to 'Delete post', "/users/#{@user.id}/posts/#{post.id}/delete", :class => "btn btn btn-danger btn-lg"%>



      </div>

      <div class = "  card col-md-9 m-1  p-3 d-flex" >

  <% post.five_last_comments.each do |comment| %>
        <p> 
        <%= User.find(comment.user_id).name %>: <%= comment.text %>
        <%# <button type="button" class="btn btn-danger btn-xs">delete comment</button> %>
        <%= link_to 'Delete button', "/users/#{@user.id}/posts/#{post.id}/comment/#{comment.id}/delete", :class => "btn btn btn-danger btn-lg"%>
        </p>
        
        <%end%>
        <%= link_to "Add comment", "/users/#{@user.id}/posts/#{post.id}/new_comment" %>
        <%= link_to "Add like", "/users/#{@user.id}/posts/#{post.id}/new_like" %>

      </div>

    <%end%>

  

  <div class="row">
    <div class = "col-md-10 m-auto pb-5 d-flex justify-content-center" >
      <div class= "mt-4">
      </div>
    </div>
  </div>
  

</div>
</section> 