<h2><%= link_to "Go to all users", "/users", class: "button" %></h2>

<div class="post_contain">
  <div class="post_header">
    <h2><%= @post.title %> by <%= @user.name %></h2>
    <div class="commentslikes">
      <p>Comments: <%= @post.comments_counter %></p>
      <p>Likes: <%= @post.likes_counter %></p>
    </div>
  </div>
  <p><%= @post.text %></p>
</div>
<div class="post-container">
<div class= "card text-dark bg-light  p-0 m-1" style="max-width: 7rem" >
      <div class=" border-end pr-2">
        <img class='profimg' alt="placeholder" src='https://t4.ftcdn.net/jpg/02/15/84/43/360_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg'>
      </div>
  </div>
  <div class = " d-flex align-items-end justify-content-end" >
      <p class="text-right">Number of posts: 
        <%= @user.posts_counter ?  @user.posts_counter : 0  %>
      </p>
   
    </div>  
  <% @post.comments.each do |comment| %>
  <p>Username: <%= comment.text %></p>
  
  <%end%> 